.mission {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  margin: 1%;
  width: 20%;
}

.mission:hover {
  width: 21%;
}

.m-name {
  color: aliceblue;
  text-align: center;
}

.m-year {
  color: aliceblue;
}

.m-country {
  color: aliceblue;
}

.m-destination {
  color: aliceblue;
}
