.planet-card {
  margin-top: 2%;
  text-align: center;
}

.planet-title {
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 700;
}

.planet-image {
  width: 100%;
}

.planet-image:hover {
  width: 110%;
}
